@inject SignInManager<IdentityUser> signInManager;
@model Ad

@{
    ViewData["Title"] = "Delete";
}

<h2>Изтриване на обява</h2>

<h3>Сигурен ли сте, че искате да изтриете тази обява?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPopular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPopular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PetCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetCategory.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PetType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetType.TypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenderType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GenderType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfPublish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfPublish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublisherPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublisherPhone)
        </dd>
    </dl>

    <form asp-controller="Ad" asp-action="Delete">
        <input type="hidden" asp-for="AddId" />
        <input type="submit" value="Изтрий" class="btn btn-default" /> |
        @if (signInManager.IsSignedIn(User) && !User.IsInRole("Admin"))
        {
            <a asp-controller="User" asp-action="ListMyAds" asp-route-userId="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value">Назад</a>
        }
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="ListManageAds" asp-route-userId="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value">Назад</a>
        }
    </form>
</div>
